@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

.main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
  background: rgb(251,198,0);
}

.dashboard {
  width: 80vw;
  min-width: 80vw;
  background: #ffffff;
  scroll-snap-align: start;
}

.title__content {
  margin: 5vh 7vw 0 7vw;
}

.title__content__header img {
  margin-left: -15px;
  margin-right: 20px;
  width: 32px;
}

.title__content__header {
  display: flex;
  align-items: center;
}

.title__content__header h1 {
  font-family: "Zen Dots", sans-serif;
  font-size: 2.5rem;
}

.title__content p {
  margin-top: 0;
  font-size: 18px;
  margin-left: 35px;
  font-family:Arial, Helvetica, sans-serif;
}

.dashboard__content {
  margin-top: 5vh;
  height: 70vh;
  width: 66vw;

  /* background-color: lightblue; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* background-color: #2196F3; */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 0 !important;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 30px;
  text-align: center;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}





/* Hero Page */

.hero{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  background-color: #343643;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/public/hero.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  justify-content: center;

  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.header__title{
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 4.5rem;
  width: auto;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.header__subtitle{
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 2rem;
  font-weight: 400;
  width: auto;
  text-align: center;
  color: #d3d1d1;
}

.header__text {
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 400;
  width: 700px;
  text-align: center;
  color: #d3d1d1;
}

.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header__link:first-of-type {
  margin-right: 20px;
} */
.header__link {
  width: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  transition: 0.15s;
}

.header__link:hover {
  background-color: white;
  color: black;
}

.red {
  color: #de6f6f;
  font-weight: 800;
}

.hide {
  display: none;
}

/* Login Modal */

.login {
  padding: 60px 50px;
  width: 400px;
  height: 500px;
}

.login__title {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  /* background: coral; */
}

.login__title img {
  margin-top: -45px;
  height: 80px;
}

.login__title h1 {
  font-size: 27px;
  margin-bottom: 40px;
  font-family: "Zen Dots", sans-serif;
  margin-left: 15px;
}

.login h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.login input {
  background-color: rgb(239, 237, 237);
  font-size: 16px;
  margin-bottom: 25px;
  padding-left: 5px;
  width: 300px;
  height: 40px;
  color: #888;
}

.login__submit {
  cursor: pointer;
  background: rgb(251,198,0);
  color: black;
  width: 80px;
  border-radius: 8px;
  text-align: center;
  height: 35px;
  padding-top: 5.5px;
  margin-top: 20px;
  transition: 0.1s;
}

.login__submit:hover {
  background: rgb(83, 153, 238);
  color: white;
}

input::placeholder {
  color: rgb(185, 184, 186);
}